//common colors
$white: #ffffff;
$black: #000000;
$black2: #1d1d1d;
$black3: #323946;
$red: #e30016;
$redHover: #ff263b;
$redActive: #ff3364;
$redCloseIcon: #ff5263;
$blue: #1550e7;
$blueHover: #3f75ff;
$blueActive: #713fff;
$darkBlue: #2b3f6c;
$blue2: #3fd1ff;
$blue3: #2784fc;
$blue4: #007aff;
$blue5: #56a0ff;
$purple: #9747ff;
$purple2: #8aa8f3;
$pink: #ff5391;
$lightPink: #fff0f2;
$green: #4cc181;
$greenHover: #52ea97;
$greenActive: #52ea7c;
$lightGreen: #DCFFEC;
$green2: #37a566;
$green3: #86DB9A;
$grey: #cddff2;
$grey2: #333946;
$grey3: #aab7e0;
$orange: #ff7a00;
$orange2: #FFC997;
$yellow: #f9c205;
//most UI elems
$mainBg: #edf5ff;
$mainBg2: #e2efff;
$mainBg3: #ebf4ff;
$mainBg4: #eef6ff;

//typography colors
$text-default: #737e98;
$text-caption: $blue;
$disabled: #a6b6db;

//links color
$link: #1550e7;

//shadows and gradients
$mainShadow: 0px 4px 15px 0px #1550e71a;

//cards-colors
$lightGold: rgba(249, 194, 5, 0.1);
$sweetGold: rgba(249, 194, 5, 0.25);
$childHover: #DBEBFF;